<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizBusinessDeviceStatusMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizBusinessDeviceStatus">
 <id column="BUSINESS_DEVICE_STATUS_ID" property="businessDeviceStatusId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="BUSINESS_ID" property="businessId" jdbcType="INTEGER"/> <!--项目ID-->
 <result column="COUNT_TYPE" property="countType" jdbcType="VARCHAR"/> <!--数量类型-->
 <result column="AMOUNT_" property="amount" jdbcType="VARCHAR"/> <!--具体值-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="businessDeviceStatusId != null and businessDeviceStatusId !='' ">
BUSINESS_DEVICE_STATUS_ID,
 </if>
 <if test="businessId != null and businessId !='' ">
BUSINESS_ID,
 </if>
 <if test="countType != null and countType !='' ">
COUNT_TYPE,
 </if>
 <if test="amount != null and amount !='' ">
AMOUNT_,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="businessDeviceStatusId != null and businessDeviceStatusId !='' ">
#{businessDeviceStatusId,jdbcType=INTEGER},
 </if>
 <if test="businessId != null and businessId !='' ">
#{businessId,jdbcType=INTEGER},
 </if>
 <if test="countType != null and countType !='' ">
#{countType,jdbcType=VARCHAR},
 </if>
 <if test="amount != null and amount !='' ">
#{amount,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="businessDeviceStatusId != null and businessDeviceStatusId !='' ">
and BUSINESS_DEVICE_STATUS_ID = #{businessDeviceStatusId,jdbcType=INTEGER}
 </if>
 <if test="businessId != null and businessId !='' ">
and BUSINESS_ID = #{businessId,jdbcType=INTEGER}
 </if>
 <if test="countType != null and countType !='' ">
and COUNT_TYPE = #{countType,jdbcType=VARCHAR}
 </if>
 <if test="amount != null and amount !='' ">
and AMOUNT_ = #{amount,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="businessDeviceStatusId != null and businessDeviceStatusId !='' ">
BUSINESS_DEVICE_STATUS_ID = #{businessDeviceStatusId,jdbcType=INTEGER},
 </if>
 <if test="businessId != null and businessId !='' ">
BUSINESS_ID = #{businessId,jdbcType=INTEGER},
 </if>
 <if test="countType != null and countType !='' ">
COUNT_TYPE = #{countType,jdbcType=VARCHAR},
 </if>
 <if test="amount != null and amount !='' ">
AMOUNT_ = #{amount,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessDeviceStatus">
select * from biz_business_device_status
 where
 STATUS_ =1
  <include refid="select"/>
   order by BUSINESS_DEVICE_STATUS_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessDeviceStatus" useGeneratedKeys="true" keyProperty="businessDeviceStatusId">
 insert into biz_business_device_status
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessDeviceStatus">
 update biz_business_device_status
<set>
<include refid="update"/>
</set>
where BUSINESS_DEVICE_STATUS_ID = #{businessDeviceStatusId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessDeviceStatus">
  <if test="businessDeviceStatusId != null and businessDeviceStatusId != ''">
delete from biz_business_device_status where BUSINESS_DEVICE_STATUS_ID = #{businessDeviceStatusId}
 </if>
 </delete>
</mapper>