<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizBusinessMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizBusiness">
 <id column="BUSINESS_ID" property="businessId" jdbcType="INTEGER"/> <!--业务ID-->
 <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR"/> <!--编号-->
 <result column="BUSINESS_NAME" property="businessName" jdbcType="VARCHAR"/> <!--名称-->
 <result column="LIMIT_SEND_TYPE" property="limitSendType" jdbcType="VARCHAR"/> <!--限制发送类型(与数据字典LIMIT_SEND_TYPE关联)-->
 <result column="LIMIT_SEND_NUM" property="limitSendNum" jdbcType="INTEGER"/> <!--限制发送数量-->
 <result column="APP_KEY" property="appKey" jdbcType="VARCHAR"/> <!--应用标识-->
 <result column="APP_KEY_PASS" property="appKeyPass" jdbcType="VARCHAR"/> <!--应用标识密码-->
 <result column="APP_KEY_START_DATE" property="appKeyStartDate" jdbcType="VARCHAR"/> <!--应用标识开始时间-->
 <result column="APP_KEY_END_DATE" property="appKeyEndDate" jdbcType="VARCHAR"/> <!--应用标识结束时间-->
 <result column="IS_ENABLE" property="isEnable" jdbcType="VARCHAR"/> <!--是否启用(0:停用;1:启用)-->
 <result column="LAST_ENABLE_DATE" property="lastEnableDate" jdbcType="VARCHAR"/> <!--上次启用时间-->
 <result column="LAST_DISABLE_DATE" property="lastDisableDate" jdbcType="VARCHAR"/> <!--上次停用时间-->
 <result column="BUSINESS_INTRODUCE" property="businessIntroduce" jdbcType="VARCHAR"/> <!--项目介绍-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="businessId != null and businessId !='' ">
BUSINESS_ID,
 </if>
 <if test="businessCode != null and businessCode !='' ">
BUSINESS_CODE,
 </if>
 <if test="businessName != null and businessName !='' ">
BUSINESS_NAME,
 </if>
 <if test="limitSendType != null and limitSendType !='' ">
LIMIT_SEND_TYPE,
 </if>
 <if test="limitSendNum != null and limitSendNum !='' ">
LIMIT_SEND_NUM,
 </if>
 <if test="appKey != null and appKey !='' ">
APP_KEY,
 </if>
 <if test="appKeyPass != null and appKeyPass !='' ">
APP_KEY_PASS,
 </if>
 <if test="appKeyStartDate != null and appKeyStartDate !='' ">
APP_KEY_START_DATE,
 </if>
 <if test="appKeyEndDate != null and appKeyEndDate !='' ">
APP_KEY_END_DATE,
 </if>
 <if test="isEnable != null and isEnable !='' ">
IS_ENABLE,
 </if>
 <if test="lastEnableDate != null and lastEnableDate !='' ">
LAST_ENABLE_DATE,
 </if>
 <if test="lastDisableDate != null and lastDisableDate !='' ">
LAST_DISABLE_DATE,
 </if>
 <if test="businessIntroduce != null and businessIntroduce !='' ">
BUSINESS_INTRODUCE,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="businessId != null and businessId !='' ">
#{businessId,jdbcType=INTEGER},
 </if>
 <if test="businessCode != null and businessCode !='' ">
#{businessCode,jdbcType=VARCHAR},
 </if>
 <if test="businessName != null and businessName !='' ">
#{businessName,jdbcType=VARCHAR},
 </if>
 <if test="limitSendType != null and limitSendType !='' ">
#{limitSendType,jdbcType=VARCHAR},
 </if>
 <if test="limitSendNum != null and limitSendNum !='' ">
#{limitSendNum,jdbcType=INTEGER},
 </if>
 <if test="appKey != null and appKey !='' ">
#{appKey,jdbcType=VARCHAR},
 </if>
 <if test="appKeyPass != null and appKeyPass !='' ">
#{appKeyPass,jdbcType=VARCHAR},
 </if>
 <if test="appKeyStartDate != null and appKeyStartDate !='' ">
#{appKeyStartDate,jdbcType=VARCHAR},
 </if>
 <if test="appKeyEndDate != null and appKeyEndDate !='' ">
#{appKeyEndDate,jdbcType=VARCHAR},
 </if>
 <if test="isEnable != null and isEnable !='' ">
#{isEnable,jdbcType=VARCHAR},
 </if>
 <if test="lastEnableDate != null and lastEnableDate !='' ">
#{lastEnableDate,jdbcType=VARCHAR},
 </if>
 <if test="lastDisableDate != null and lastDisableDate !='' ">
#{lastDisableDate,jdbcType=VARCHAR},
 </if>
 <if test="businessIntroduce != null and businessIntroduce !='' ">
#{businessIntroduce,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="businessId != null and businessId !='' ">
and BUSINESS_ID = #{businessId,jdbcType=INTEGER}
 </if>
 <if test="businessCode != null and businessCode !='' ">
and BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR}
 </if>
 <if test="businessName != null and businessName !='' ">
and BUSINESS_NAME = #{businessName,jdbcType=VARCHAR}
 </if>
 <if test="limitSendType != null and limitSendType !='' ">
and LIMIT_SEND_TYPE = #{limitSendType,jdbcType=VARCHAR}
 </if>
 <if test="limitSendNum != null and limitSendNum !='' ">
and LIMIT_SEND_NUM = #{limitSendNum,jdbcType=INTEGER}
 </if>
 <if test="appKey != null and appKey !='' ">
and APP_KEY = #{appKey,jdbcType=VARCHAR}
 </if>
 <if test="appKeyPass != null and appKeyPass !='' ">
and APP_KEY_PASS = #{appKeyPass,jdbcType=VARCHAR}
 </if>
 <if test="appKeyStartDate != null and appKeyStartDate !='' ">
and APP_KEY_START_DATE = #{appKeyStartDate,jdbcType=VARCHAR}
 </if>
 <if test="appKeyEndDate != null and appKeyEndDate !='' ">
and APP_KEY_END_DATE = #{appKeyEndDate,jdbcType=VARCHAR}
 </if>
 <if test="isEnable != null and isEnable !='' ">
and IS_ENABLE = #{isEnable,jdbcType=VARCHAR}
 </if>
 <if test="lastEnableDate != null and lastEnableDate !='' ">
and LAST_ENABLE_DATE = #{lastEnableDate,jdbcType=VARCHAR}
 </if>
 <if test="lastDisableDate != null and lastDisableDate !='' ">
and LAST_DISABLE_DATE = #{lastDisableDate,jdbcType=VARCHAR}
 </if>
 <if test="businessIntroduce != null and businessIntroduce !='' ">
and BUSINESS_INTRODUCE = #{businessIntroduce,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="businessId != null and businessId !='' ">
BUSINESS_ID = #{businessId,jdbcType=INTEGER},
 </if>
 <if test="businessCode != null and businessCode !='' ">
BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
 </if>
 <if test="businessName != null and businessName !='' ">
BUSINESS_NAME = #{businessName,jdbcType=VARCHAR},
 </if>
 <if test="limitSendType != null and limitSendType !='' ">
LIMIT_SEND_TYPE = #{limitSendType,jdbcType=VARCHAR},
 </if>
 <if test="limitSendNum != null and limitSendNum !='' ">
LIMIT_SEND_NUM = #{limitSendNum,jdbcType=INTEGER},
 </if>
 <if test="appKey != null and appKey !='' ">
APP_KEY = #{appKey,jdbcType=VARCHAR},
 </if>
 <if test="appKeyPass != null and appKeyPass !='' ">
APP_KEY_PASS = #{appKeyPass,jdbcType=VARCHAR},
 </if>
 <if test="appKeyStartDate != null and appKeyStartDate !='' ">
APP_KEY_START_DATE = #{appKeyStartDate,jdbcType=VARCHAR},
 </if>
 <if test="appKeyEndDate != null and appKeyEndDate !='' ">
APP_KEY_END_DATE = #{appKeyEndDate,jdbcType=VARCHAR},
 </if>
 <if test="isEnable != null and isEnable !='' ">
IS_ENABLE = #{isEnable,jdbcType=VARCHAR},
 </if>
 <if test="lastEnableDate != null and lastEnableDate !='' ">
LAST_ENABLE_DATE = #{lastEnableDate,jdbcType=VARCHAR},
 </if>
 <if test="lastDisableDate != null and lastDisableDate !='' ">
LAST_DISABLE_DATE = #{lastDisableDate,jdbcType=VARCHAR},
 </if>
 <if test="businessIntroduce != null and businessIntroduce !='' ">
BUSINESS_INTRODUCE = #{businessIntroduce,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizBusiness">
select * from biz_business
 where
 STATUS_ =1
  <include refid="select"/>
   order by BUSINESS_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizBusiness" useGeneratedKeys="true" keyProperty="businessId">
 insert into biz_business
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizBusiness">
 update biz_business
<set>
<include refid="update"/>
</set>
where BUSINESS_ID = #{businessId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizBusiness">
  <if test="businessId != null and businessId != ''">
delete from biz_business where BUSINESS_ID = #{businessId}
 </if>
 </delete>
</mapper>