<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizBusinessDataMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizBusinessData">
 <id column="BUSINESS_DATA_ID" property="businessDataId" jdbcType="INTEGER"/> <!--业务数据ID-->
 <result column="BUSINESS_DATA_NAME" property="businessDataName" jdbcType="VARCHAR"/> <!--业务数据名称-->
 <result column="BUSINESS_DATA_AMOUNT" property="businessDataAmount" jdbcType="INTEGER"/> <!--业务数据值-->
 <result column="BUSINESS_DATA_ORDER" property="businessDataOrder" jdbcType="INTEGER"/> <!--业务数据排序字段-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="businessDataId != null and businessDataId !='' ">
BUSINESS_DATA_ID,
 </if>
 <if test="businessDataName != null and businessDataName !='' ">
BUSINESS_DATA_NAME,
 </if>
 <if test="businessDataAmount != null and businessDataAmount !='' ">
BUSINESS_DATA_AMOUNT,
 </if>
 <if test="businessDataOrder != null and businessDataOrder !='' ">
BUSINESS_DATA_ORDER,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="businessDataId != null and businessDataId !='' ">
#{businessDataId,jdbcType=INTEGER},
 </if>
 <if test="businessDataName != null and businessDataName !='' ">
#{businessDataName,jdbcType=VARCHAR},
 </if>
 <if test="businessDataAmount != null and businessDataAmount !='' ">
#{businessDataAmount,jdbcType=INTEGER},
 </if>
 <if test="businessDataOrder != null and businessDataOrder !='' ">
#{businessDataOrder,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="businessDataId != null and businessDataId !='' ">
and BUSINESS_DATA_ID = #{businessDataId,jdbcType=INTEGER}
 </if>
 <if test="businessDataName != null and businessDataName !='' ">
and BUSINESS_DATA_NAME = #{businessDataName,jdbcType=VARCHAR}
 </if>
 <if test="businessDataAmount != null and businessDataAmount !='' ">
and BUSINESS_DATA_AMOUNT = #{businessDataAmount,jdbcType=INTEGER}
 </if>
 <if test="businessDataOrder != null and businessDataOrder !='' ">
and BUSINESS_DATA_ORDER = #{businessDataOrder,jdbcType=INTEGER}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="businessDataId != null and businessDataId !='' ">
BUSINESS_DATA_ID = #{businessDataId,jdbcType=INTEGER},
 </if>
 <if test="businessDataName != null and businessDataName !='' ">
BUSINESS_DATA_NAME = #{businessDataName,jdbcType=VARCHAR},
 </if>
 <if test="businessDataAmount != null and businessDataAmount !='' ">
BUSINESS_DATA_AMOUNT = #{businessDataAmount,jdbcType=INTEGER},
 </if>
 <if test="businessDataOrder != null and businessDataOrder !='' ">
BUSINESS_DATA_ORDER = #{businessDataOrder,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessData">
select * from biz_business_data
 where
 STATUS_ =1
  <include refid="select"/>
   order by BUSINESS_DATA_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessData" useGeneratedKeys="true" keyProperty="businessDataId">
 insert into biz_business_data
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessData">
 update biz_business_data
<set>
<include refid="update"/>
</set>
where BUSINESS_DATA_ID = #{businessDataId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizBusinessData">
  <if test="businessDataId != null and businessDataId != ''">
delete from biz_business_data where BUSINESS_DATA_ID = #{businessDataId}
 </if>
 </delete>
</mapper>