<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizHttpPostformParamMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizHttpPostformParam">
 <id column="FORM_PARAM_ID" property="formParamId" jdbcType="INTEGER"/> <!--FORM参数ID-->
 <result column="HTTP_CODE" property="httpCode" jdbcType="VARCHAR"/> <!--HTTP任务编号-->
 <result column="FORM_PARAM_NAME" property="formParamName" jdbcType="VARCHAR"/> <!--FORM参数名称-->
 <result column="FORM_PARAM_VALUE" property="formParamValue" jdbcType="VARCHAR"/> <!--FORM参数值-->
 <result column="FORM_PARAM_TYPE" property="formParamType" jdbcType="VARCHAR"/> <!--FORM参数类型 |1:string,2:Interget-->
 <result column="IS_VARIABLE" property="isVariable" jdbcType="VARCHAR"/> <!--是否变量 0:不是|1:是|2:南向具体属性-->
 <result column="IS_NULL" property="isNull" jdbcType="VARCHAR"/> <!--是否可为空 1:是|    0:不是-->
 <result column="SOUTH_ANALYSIS_PROP_ID" property="southAnalysisPropId" jdbcType="INTEGER"/> <!--南向具体属性ID-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="formParamId != null and formParamId !='' ">
FORM_PARAM_ID,
 </if>
 <if test="httpCode != null and httpCode !='' ">
HTTP_CODE,
 </if>
 <if test="formParamName != null and formParamName !='' ">
FORM_PARAM_NAME,
 </if>
 <if test="formParamValue != null and formParamValue !='' ">
FORM_PARAM_VALUE,
 </if>
 <if test="formParamType != null and formParamType !='' ">
FORM_PARAM_TYPE,
 </if>
 <if test="isVariable != null and isVariable !='' ">
IS_VARIABLE,
 </if>
 <if test="isNull != null and isNull !='' ">
IS_NULL,
 </if>
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
SOUTH_ANALYSIS_PROP_ID,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="formParamId != null and formParamId !='' ">
#{formParamId,jdbcType=INTEGER},
 </if>
 <if test="httpCode != null and httpCode !='' ">
#{httpCode,jdbcType=VARCHAR},
 </if>
 <if test="formParamName != null and formParamName !='' ">
#{formParamName,jdbcType=VARCHAR},
 </if>
 <if test="formParamValue != null and formParamValue !='' ">
#{formParamValue,jdbcType=VARCHAR},
 </if>
 <if test="formParamType != null and formParamType !='' ">
#{formParamType,jdbcType=VARCHAR},
 </if>
 <if test="isVariable != null and isVariable !='' ">
#{isVariable,jdbcType=VARCHAR},
 </if>
 <if test="isNull != null and isNull !='' ">
#{isNull,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
#{southAnalysisPropId,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="formParamId != null and formParamId !='' ">
and FORM_PARAM_ID = #{formParamId,jdbcType=INTEGER}
 </if>
 <if test="httpCode != null and httpCode !='' ">
and HTTP_CODE = #{httpCode,jdbcType=VARCHAR}
 </if>
 <if test="formParamName != null and formParamName !='' ">
and FORM_PARAM_NAME = #{formParamName,jdbcType=VARCHAR}
 </if>
 <if test="formParamValue != null and formParamValue !='' ">
and FORM_PARAM_VALUE = #{formParamValue,jdbcType=VARCHAR}
 </if>
 <if test="formParamType != null and formParamType !='' ">
and FORM_PARAM_TYPE = #{formParamType,jdbcType=VARCHAR}
 </if>
 <if test="isVariable != null and isVariable !='' ">
and IS_VARIABLE = #{isVariable,jdbcType=VARCHAR}
 </if>
 <if test="isNull != null and isNull !='' ">
and IS_NULL = #{isNull,jdbcType=VARCHAR}
 </if>
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
and SOUTH_ANALYSIS_PROP_ID = #{southAnalysisPropId,jdbcType=INTEGER}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="formParamId != null and formParamId !='' ">
FORM_PARAM_ID = #{formParamId,jdbcType=INTEGER},
 </if>
 <if test="httpCode != null and httpCode !='' ">
HTTP_CODE = #{httpCode,jdbcType=VARCHAR},
 </if>
 <if test="formParamName != null and formParamName !='' ">
FORM_PARAM_NAME = #{formParamName,jdbcType=VARCHAR},
 </if>
 <if test="formParamValue != null and formParamValue !='' ">
FORM_PARAM_VALUE = #{formParamValue,jdbcType=VARCHAR},
 </if>
 <if test="formParamType != null and formParamType !='' ">
FORM_PARAM_TYPE = #{formParamType,jdbcType=VARCHAR},
 </if>
 <if test="isVariable != null and isVariable !='' ">
IS_VARIABLE = #{isVariable,jdbcType=VARCHAR},
 </if>
 <if test="isNull != null and isNull !='' ">
IS_NULL = #{isNull,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
SOUTH_ANALYSIS_PROP_ID = #{southAnalysisPropId,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizHttpPostformParam">
select * from biz_http_postform_param
 where
 STATUS_ =1
  <include refid="select"/>
   order by FORM_PARAM_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizHttpPostformParam" useGeneratedKeys="true" keyProperty="formParamId">
 insert into biz_http_postform_param
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizHttpPostformParam">
 update biz_http_postform_param
<set>
<include refid="update"/>
</set>
where FORM_PARAM_ID = #{formParamId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizHttpPostformParam">
  <if test="formParamId != null and formParamId != ''">
delete from biz_http_postform_param where FORM_PARAM_ID = #{formParamId}
 </if>
 </delete>
</mapper>