<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizIotToNorthAnalysisMainMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizIotToNorthAnalysisMain">
 <id column="IOT_TO_NORTH_ANALYSIS_MAIN_ID" property="iotToNorthAnalysisMainId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="IOT_TO_NORTH_ANALYSIS_MAIN_CODE" property="iotToNorthAnalysisMainCode" jdbcType="VARCHAR"/> <!--北向json返回编号-->
 <result column="IOT_TO_NORTH_ANALYSIS_MAIN_NAME" property="iotToNorthAnalysisMainName" jdbcType="VARCHAR"/> <!--北向json返回名称-->
 <result column="SOUTH_TO_IOT_ANALYSIS_MAIN_ID" property="southToIotAnalysisMainId" jdbcType="INTEGER"/> <!--南向推送中台ID-->
 <result column="APP_ID" property="appId" jdbcType="INTEGER"/> <!--上层应用ID-->
 <result column="APP_CODE" property="appCode" jdbcType="VARCHAR"/> <!--上层应用CODE-->
 <result column="IS_OPEN" property="isOpen" jdbcType="VARCHAR"/> <!--是否启用 | 1 启用 0 停止-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="iotToNorthAnalysisMainId != null and iotToNorthAnalysisMainId !='' ">
IOT_TO_NORTH_ANALYSIS_MAIN_ID,
 </if>
 <if test="iotToNorthAnalysisMainCode != null and iotToNorthAnalysisMainCode !='' ">
IOT_TO_NORTH_ANALYSIS_MAIN_CODE,
 </if>
 <if test="iotToNorthAnalysisMainName != null and iotToNorthAnalysisMainName !='' ">
IOT_TO_NORTH_ANALYSIS_MAIN_NAME,
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
SOUTH_TO_IOT_ANALYSIS_MAIN_ID,
 </if>
 <if test="appId != null and appId !='' ">
APP_ID,
 </if>
 <if test="appCode != null and appCode !='' ">
APP_CODE,
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="iotToNorthAnalysisMainId != null and iotToNorthAnalysisMainId !='' ">
#{iotToNorthAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="iotToNorthAnalysisMainCode != null and iotToNorthAnalysisMainCode !='' ">
#{iotToNorthAnalysisMainCode,jdbcType=VARCHAR},
 </if>
 <if test="iotToNorthAnalysisMainName != null and iotToNorthAnalysisMainName !='' ">
#{iotToNorthAnalysisMainName,jdbcType=VARCHAR},
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
#{southToIotAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="appId != null and appId !='' ">
#{appId,jdbcType=INTEGER},
 </if>
 <if test="appCode != null and appCode !='' ">
#{appCode,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
#{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="iotToNorthAnalysisMainId != null and iotToNorthAnalysisMainId !='' ">
and IOT_TO_NORTH_ANALYSIS_MAIN_ID = #{iotToNorthAnalysisMainId,jdbcType=INTEGER}
 </if>
 <if test="iotToNorthAnalysisMainCode != null and iotToNorthAnalysisMainCode !='' ">
and IOT_TO_NORTH_ANALYSIS_MAIN_CODE = #{iotToNorthAnalysisMainCode,jdbcType=VARCHAR}
 </if>
 <if test="iotToNorthAnalysisMainName != null and iotToNorthAnalysisMainName !='' ">
and IOT_TO_NORTH_ANALYSIS_MAIN_NAME = #{iotToNorthAnalysisMainName,jdbcType=VARCHAR}
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
and SOUTH_TO_IOT_ANALYSIS_MAIN_ID = #{southToIotAnalysisMainId,jdbcType=INTEGER}
 </if>
 <if test="appId != null and appId !='' ">
and APP_ID = #{appId,jdbcType=INTEGER}
 </if>
 <if test="appCode != null and appCode !='' ">
and APP_CODE = #{appCode,jdbcType=VARCHAR}
 </if>
 <if test="isOpen != null and isOpen !='' ">
and IS_OPEN = #{isOpen,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="iotToNorthAnalysisMainId != null and iotToNorthAnalysisMainId !='' ">
IOT_TO_NORTH_ANALYSIS_MAIN_ID = #{iotToNorthAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="iotToNorthAnalysisMainCode != null and iotToNorthAnalysisMainCode !='' ">
IOT_TO_NORTH_ANALYSIS_MAIN_CODE = #{iotToNorthAnalysisMainCode,jdbcType=VARCHAR},
 </if>
 <if test="iotToNorthAnalysisMainName != null and iotToNorthAnalysisMainName !='' ">
IOT_TO_NORTH_ANALYSIS_MAIN_NAME = #{iotToNorthAnalysisMainName,jdbcType=VARCHAR},
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
SOUTH_TO_IOT_ANALYSIS_MAIN_ID = #{southToIotAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="appId != null and appId !='' ">
APP_ID = #{appId,jdbcType=INTEGER},
 </if>
 <if test="appCode != null and appCode !='' ">
APP_CODE = #{appCode,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN = #{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizIotToNorthAnalysisMain">
select * from biz_iot_to_north_analysis_main
 where
 STATUS_ =1
  <include refid="select"/>
   order by IOT_TO_NORTH_ANALYSIS_MAIN_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizIotToNorthAnalysisMain" useGeneratedKeys="true" keyProperty="iotToNorthAnalysisMainId">
 insert into biz_iot_to_north_analysis_main
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizIotToNorthAnalysisMain">
 update biz_iot_to_north_analysis_main
<set>
<include refid="update"/>
</set>
where IOT_TO_NORTH_ANALYSIS_MAIN_ID = #{iotToNorthAnalysisMainId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizIotToNorthAnalysisMain">
  <if test="iotToNorthAnalysisMainId != null and iotToNorthAnalysisMainId != ''">
delete from biz_iot_to_north_analysis_main where IOT_TO_NORTH_ANALYSIS_MAIN_ID = #{iotToNorthAnalysisMainId}
 </if>
 </delete>
</mapper>