<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizMqttTopicMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizMqttTopic">
 <id column="MQTT_TOPIC_ID" property="mqttTopicId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="MQTT_TOPIC_CODE" property="mqttTopicCode" jdbcType="VARCHAR"/> <!--MQTT主题编号-->
 <result column="MQTT_TOPIC_NAME" property="mqttTopicName" jdbcType="VARCHAR"/> <!--MQTT主题名称-->
 <result column="MQTT_TOPIC" property="mqttTopic" jdbcType="VARCHAR"/> <!--MQTT主题-->
 <result column="IS_OPEN" property="isOpen" jdbcType="VARCHAR"/> <!--是否启用 | 1 启用 0 停止-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="mqttTopicId != null and mqttTopicId !='' ">
MQTT_TOPIC_ID,
 </if>
 <if test="mqttTopicCode != null and mqttTopicCode !='' ">
MQTT_TOPIC_CODE,
 </if>
 <if test="mqttTopicName != null and mqttTopicName !='' ">
MQTT_TOPIC_NAME,
 </if>
 <if test="mqttTopic != null and mqttTopic !='' ">
MQTT_TOPIC,
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="mqttTopicId != null and mqttTopicId !='' ">
#{mqttTopicId,jdbcType=INTEGER},
 </if>
 <if test="mqttTopicCode != null and mqttTopicCode !='' ">
#{mqttTopicCode,jdbcType=VARCHAR},
 </if>
 <if test="mqttTopicName != null and mqttTopicName !='' ">
#{mqttTopicName,jdbcType=VARCHAR},
 </if>
 <if test="mqttTopic != null and mqttTopic !='' ">
#{mqttTopic,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
#{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="mqttTopicId != null and mqttTopicId !='' ">
and MQTT_TOPIC_ID = #{mqttTopicId,jdbcType=INTEGER}
 </if>
 <if test="mqttTopicCode != null and mqttTopicCode !='' ">
and MQTT_TOPIC_CODE = #{mqttTopicCode,jdbcType=VARCHAR}
 </if>
 <if test="mqttTopicName != null and mqttTopicName !='' ">
and MQTT_TOPIC_NAME = #{mqttTopicName,jdbcType=VARCHAR}
 </if>
 <if test="mqttTopic != null and mqttTopic !='' ">
and MQTT_TOPIC = #{mqttTopic,jdbcType=VARCHAR}
 </if>
 <if test="isOpen != null and isOpen !='' ">
and IS_OPEN = #{isOpen,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="mqttTopicId != null and mqttTopicId !='' ">
MQTT_TOPIC_ID = #{mqttTopicId,jdbcType=INTEGER},
 </if>
 <if test="mqttTopicCode != null and mqttTopicCode !='' ">
MQTT_TOPIC_CODE = #{mqttTopicCode,jdbcType=VARCHAR},
 </if>
 <if test="mqttTopicName != null and mqttTopicName !='' ">
MQTT_TOPIC_NAME = #{mqttTopicName,jdbcType=VARCHAR},
 </if>
 <if test="mqttTopic != null and mqttTopic !='' ">
MQTT_TOPIC = #{mqttTopic,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN = #{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizMqttTopic">
select * from biz_mqtt_topic
 where
 STATUS_ =1
  <include refid="select"/>
   order by MQTT_TOPIC_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizMqttTopic" useGeneratedKeys="true" keyProperty="mqttTopicId">
 insert into biz_mqtt_topic
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizMqttTopic">
 update biz_mqtt_topic
<set>
<include refid="update"/>
</set>
where MQTT_TOPIC_ID = #{mqttTopicId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizMqttTopic">
  <if test="mqttTopicId != null and mqttTopicId != ''">
delete from biz_mqtt_topic where MQTT_TOPIC_ID = #{mqttTopicId}
 </if>
 </delete>
</mapper>