<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizMonthAnalysisMapper">
    <resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizMonthAnalysis">
        <id column="BUSINESS_INCREASE_ID" property="businessIncreaseId" jdbcType="INTEGER"/> <!--主键ID-->
        <result column="TYPE_" property="type" jdbcType="VARCHAR"/> <!--类别 1:项目 |2:开放接口|3：数据量|4：对接设备-->
        <result column="MONTH_" property="month" jdbcType="VARCHAR"/> <!--月份-->
        <result column="AMOUNT_" property="amount" jdbcType="INTEGER"/> <!--数量-->
        <result column="ORDER_" property="order" jdbcType="INTEGER"/> <!--排序-->
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
        <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
        <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
        <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
        <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
    </resultMap>
    <sql id="filed">
        <if test="businessIncreaseId != null and businessIncreaseId !='' ">
            BUSINESS_INCREASE_ID,
        </if>
        <if test="type != null and type !='' ">
            TYPE_,
        </if>
        <if test="month != null and month !='' ">
            MONTH_,
        </if>
        <if test="amount != null and amount !='' ">
            AMOUNT_,
        </if>
        <if test="order != null and order !='' ">
            ORDER_,
        </if>
        <if test="createUserId != null and createUserId !='' ">
            CREATE_USER_ID,
        </if>
        <if test="createDate != null and createDate !='' ">
            CREATE_DATE,
        </if>
        <if test="modifyUserId != null and modifyUserId !='' ">
            MODIFY_USER_ID,
        </if>
        <if test="modifyDate != null and modifyDate !='' ">
            MODIFY_DATE,
        </if>
        <if test="status != null and status !='' ">
            STATUS_,
        </if>
        <if test="remark != null and remark !='' ">
            REMARK_,
        </if>
    </sql>
    <sql id="values">
        <if test="businessIncreaseId != null and businessIncreaseId !='' ">
            #{businessIncreaseId,jdbcType=INTEGER},
        </if>
        <if test="type != null and type !='' ">
            #{type,jdbcType=VARCHAR},
        </if>
        <if test="month != null and month !='' ">
            #{month,jdbcType=VARCHAR},
        </if>
        <if test="amount != null and amount !='' ">
            #{amount,jdbcType=INTEGER},
        </if>
        <if test="order != null and order !='' ">
            #{order,jdbcType=INTEGER},
        </if>
        <if test="createUserId != null and createUserId !='' ">
            #{createUserId,jdbcType=INTEGER},
        </if>
        <if test="createDate != null and createDate !='' ">
            #{createDate,jdbcType=VARCHAR},
        </if>
        <if test="modifyUserId != null and modifyUserId !='' ">
            #{modifyUserId,jdbcType=INTEGER},
        </if>
        <if test="modifyDate != null and modifyDate !='' ">
            #{modifyDate,jdbcType=VARCHAR},
        </if>
        <if test="status != null and status !='' ">
            #{status,jdbcType=VARCHAR},
        </if>
        <if test="remark != null and remark !='' ">
            #{remark,jdbcType=VARCHAR},
        </if>
    </sql>
    <sql id="select">
        <if test="businessIncreaseId != null and businessIncreaseId !='' ">
            and BUSINESS_INCREASE_ID = #{businessIncreaseId,jdbcType=INTEGER}
        </if>
        <if test="type != null and type !='' ">
            and TYPE_ = #{type,jdbcType=VARCHAR}
        </if>
        <if test="month != null and month !='' ">
            and MONTH_ = #{month,jdbcType=VARCHAR}
        </if>
        <if test="amount != null and amount !='' ">
            and AMOUNT_ = #{amount,jdbcType=INTEGER}
        </if>
        <if test="order != null and order !='' ">
            and ORDER_ = #{order,jdbcType=INTEGER}
        </if>
        <if test="createUserId != null and createUserId !='' ">
            and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
        </if>
        <if test="createDate != null and createDate !='' ">
            and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
        </if>
        <if test="modifyUserId != null and modifyUserId !='' ">
            and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
        </if>
        <if test="modifyDate != null and modifyDate !='' ">
            and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status !='' ">
            and STATUS_ = #{status,jdbcType=VARCHAR}
        </if>
        <if test="remark != null and remark !='' ">
            and REMARK_ = #{remark,jdbcType=VARCHAR}
        </if>
    </sql>
    <sql id="update">
        <if test="businessIncreaseId != null and businessIncreaseId !='' ">
            BUSINESS_INCREASE_ID = #{businessIncreaseId,jdbcType=INTEGER},
        </if>
        <if test="type != null and type !='' ">
            TYPE_ = #{type,jdbcType=VARCHAR},
        </if>
        <if test="month != null and month !='' ">
            MONTH_ = #{month,jdbcType=VARCHAR},
        </if>
        <if test="amount != null and amount !='' ">
            AMOUNT_ = #{amount,jdbcType=INTEGER},
        </if>
        <if test="order != null and order !='' ">
            ORDER_ = #{order,jdbcType=INTEGER},
        </if>
        <if test="createUserId != null and createUserId !='' ">
            CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
        </if>
        <if test="createDate != null and createDate !='' ">
            CREATE_DATE = #{createDate,jdbcType=VARCHAR},
        </if>
        <if test="modifyUserId != null and modifyUserId !='' ">
            MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
        </if>
        <if test="modifyDate != null and modifyDate !='' ">
            MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
        </if>
        <if test="status != null and status !='' ">
            STATUS_ = #{status,jdbcType=VARCHAR},
        </if>
        <if test="remark != null and remark !='' ">
            REMARK_ = #{remark,jdbcType=VARCHAR},
        </if>
    </sql>
    <select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizMonthAnalysis">
        select * from biz_month_analysis
        where
        STATUS_ =1
        <include refid="select"/>
        order by BUSINESS_INCREASE_ID
    </select>
    <insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizMonthAnalysis" useGeneratedKeys="true"
            keyProperty="businessIncreaseId">
        insert into biz_month_analysis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="values"/>
        </trim>
    </insert>
    <update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizMonthAnalysis">
        update biz_month_analysis
        <set>
            <include refid="update"/>
        </set>
        where BUSINESS_INCREASE_ID = #{businessIncreaseId,jdbcType=INTEGER} AND STATUS_ =1
    </update>
    <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizMonthAnalysis">
        <if test="businessIncreaseId != null and businessIncreaseId != ''">
            delete from biz_month_analysis where BUSINESS_INCREASE_ID = #{businessIncreaseId}
        </if>
    </delete>
</mapper>