<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizNorthAnalysisDetailMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizNorthAnalysisDetail">
 <id column="NORTH_ANALYSIS_DETAIL_ID" property="northAnalysisDetailId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="NORTH_ANALYSIS_MAIN_ID" property="northAnalysisMainId" jdbcType="VARCHAR"/> <!--北向json返回ID-->
 <result column="NORTH_ANALYSIS_MAIN_NAME" property="northAnalysisMainName" jdbcType="VARCHAR"/> <!--北向json返回名称-->
 <result column="NORTH_JSON_TYPE" property="northJsonType" jdbcType="VARCHAR"/> <!--JSON类型（1：String|2：integer|3：array|4：object）-->
 <result column="NORTH_JSON_LEVEL" property="northJsonLevel" jdbcType="VARCHAR"/> <!--JSON层级（顶级：0|非顶级：主键ID）-->
 <result column="NORTH_JSON_NAME" property="northJsonName" jdbcType="VARCHAR"/> <!--JSON属性名-->
 <result column="NORTH_JSON_VALUE_TYPE" property="northJsonValueType" jdbcType="VARCHAR"/> <!--JSON值类型（1：挂载南向json解析ID|2：String|3：integer）-->
 <result column="NORTH_JSON_VALUE" property="northJsonValue" jdbcType="VARCHAR"/> <!--具体值或者南向json解析ID-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="northAnalysisDetailId != null and northAnalysisDetailId !='' ">
NORTH_ANALYSIS_DETAIL_ID,
 </if>
 <if test="northAnalysisMainId != null and northAnalysisMainId !='' ">
NORTH_ANALYSIS_MAIN_ID,
 </if>
 <if test="northAnalysisMainName != null and northAnalysisMainName !='' ">
NORTH_ANALYSIS_MAIN_NAME,
 </if>
 <if test="northJsonType != null and northJsonType !='' ">
NORTH_JSON_TYPE,
 </if>
 <if test="northJsonLevel != null and northJsonLevel !='' ">
NORTH_JSON_LEVEL,
 </if>
 <if test="northJsonName != null and northJsonName !='' ">
NORTH_JSON_NAME,
 </if>
 <if test="northJsonValueType != null and northJsonValueType !='' ">
NORTH_JSON_VALUE_TYPE,
 </if>
 <if test="northJsonValue != null and northJsonValue !='' ">
NORTH_JSON_VALUE,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="northAnalysisDetailId != null and northAnalysisDetailId !='' ">
#{northAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="northAnalysisMainId != null and northAnalysisMainId !='' ">
#{northAnalysisMainId,jdbcType=VARCHAR},
 </if>
 <if test="northAnalysisMainName != null and northAnalysisMainName !='' ">
#{northAnalysisMainName,jdbcType=VARCHAR},
 </if>
 <if test="northJsonType != null and northJsonType !='' ">
#{northJsonType,jdbcType=VARCHAR},
 </if>
 <if test="northJsonLevel != null and northJsonLevel !='' ">
#{northJsonLevel,jdbcType=VARCHAR},
 </if>
 <if test="northJsonName != null and northJsonName !='' ">
#{northJsonName,jdbcType=VARCHAR},
 </if>
 <if test="northJsonValueType != null and northJsonValueType !='' ">
#{northJsonValueType,jdbcType=VARCHAR},
 </if>
 <if test="northJsonValue != null and northJsonValue !='' ">
#{northJsonValue,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="northAnalysisDetailId != null and northAnalysisDetailId !='' ">
and NORTH_ANALYSIS_DETAIL_ID = #{northAnalysisDetailId,jdbcType=INTEGER}
 </if>
 <if test="northAnalysisMainId != null and northAnalysisMainId !='' ">
and NORTH_ANALYSIS_MAIN_ID = #{northAnalysisMainId,jdbcType=VARCHAR}
 </if>
 <if test="northAnalysisMainName != null and northAnalysisMainName !='' ">
and NORTH_ANALYSIS_MAIN_NAME = #{northAnalysisMainName,jdbcType=VARCHAR}
 </if>
 <if test="northJsonType != null and northJsonType !='' ">
and NORTH_JSON_TYPE = #{northJsonType,jdbcType=VARCHAR}
 </if>
 <if test="northJsonLevel != null and northJsonLevel !='' ">
and NORTH_JSON_LEVEL = #{northJsonLevel,jdbcType=VARCHAR}
 </if>
 <if test="northJsonName != null and northJsonName !='' ">
and NORTH_JSON_NAME = #{northJsonName,jdbcType=VARCHAR}
 </if>
 <if test="northJsonValueType != null and northJsonValueType !='' ">
and NORTH_JSON_VALUE_TYPE = #{northJsonValueType,jdbcType=VARCHAR}
 </if>
 <if test="northJsonValue != null and northJsonValue !='' ">
and NORTH_JSON_VALUE = #{northJsonValue,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="northAnalysisDetailId != null and northAnalysisDetailId !='' ">
NORTH_ANALYSIS_DETAIL_ID = #{northAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="northAnalysisMainId != null and northAnalysisMainId !='' ">
NORTH_ANALYSIS_MAIN_ID = #{northAnalysisMainId,jdbcType=VARCHAR},
 </if>
 <if test="northAnalysisMainName != null and northAnalysisMainName !='' ">
NORTH_ANALYSIS_MAIN_NAME = #{northAnalysisMainName,jdbcType=VARCHAR},
 </if>
 <if test="northJsonType != null and northJsonType !='' ">
NORTH_JSON_TYPE = #{northJsonType,jdbcType=VARCHAR},
 </if>
 <if test="northJsonLevel != null and northJsonLevel !='' ">
NORTH_JSON_LEVEL = #{northJsonLevel,jdbcType=VARCHAR},
 </if>
 <if test="northJsonName != null and northJsonName !='' ">
NORTH_JSON_NAME = #{northJsonName,jdbcType=VARCHAR},
 </if>
 <if test="northJsonValueType != null and northJsonValueType !='' ">
NORTH_JSON_VALUE_TYPE = #{northJsonValueType,jdbcType=VARCHAR},
 </if>
 <if test="northJsonValue != null and northJsonValue !='' ">
NORTH_JSON_VALUE = #{northJsonValue,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizNorthAnalysisDetail">
select * from biz_north_analysis_detail
 where
 STATUS_ =1
  <include refid="select"/>
   order by NORTH_ANALYSIS_DETAIL_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizNorthAnalysisDetail" useGeneratedKeys="true" keyProperty="northAnalysisDetailId">
 insert into biz_north_analysis_detail
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizNorthAnalysisDetail">
 update biz_north_analysis_detail
<set>
<include refid="update"/>
</set>
where NORTH_ANALYSIS_DETAIL_ID = #{northAnalysisDetailId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizNorthAnalysisDetail">
  <if test="northAnalysisDetailId != null and northAnalysisDetailId != ''">
delete from biz_north_analysis_detail where NORTH_ANALYSIS_DETAIL_ID = #{northAnalysisDetailId}
 </if>
 </delete>
</mapper>