<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizSouthAnalysisDetailMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizSouthAnalysisDetail">
 <id column="SOUTH_ANALYSIS_DETAIL_ID" property="southAnalysisDetailId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="SOUTH_ANALYSIS_MAIN_ID" property="southAnalysisMainId" jdbcType="VARCHAR"/> <!--南向解析ID-->
 <result column="SOUTH_ANALYSIS_TYPE" property="southAnalysisType" jdbcType="VARCHAR"/> <!--解析类型（1：http接口2：MQTT主题|3：tcp协议）-->
 <result column="SOUTH_JSON_TYPE" property="southJsonType" jdbcType="VARCHAR"/> <!--JSON类型（1：String|2：integer|3：array|4：object）-->
 <result column="SOUTH_JSON_LEVEL" property="southJsonLevel" jdbcType="VARCHAR"/> <!--JSON层级编码-->
 <result column="SOUTH_JSON_NAME" property="southJsonName" jdbcType="VARCHAR"/> <!--JSON属性名-->
 <result column="SOUTH_JSON_ORDER" property="southJsonOrder" jdbcType="INTEGER"/> <!--JSON排序-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
SOUTH_ANALYSIS_DETAIL_ID,
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
SOUTH_ANALYSIS_MAIN_ID,
 </if>
 <if test="southAnalysisType != null and southAnalysisType !='' ">
SOUTH_ANALYSIS_TYPE,
 </if>
 <if test="southJsonType != null and southJsonType !='' ">
SOUTH_JSON_TYPE,
 </if>
 <if test="southJsonLevel != null and southJsonLevel !='' ">
SOUTH_JSON_LEVEL,
 </if>
 <if test="southJsonName != null and southJsonName !='' ">
SOUTH_JSON_NAME,
 </if>
 <if test="southJsonOrder != null and southJsonOrder !='' ">
SOUTH_JSON_ORDER,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
#{southAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
#{southAnalysisMainId,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisType != null and southAnalysisType !='' ">
#{southAnalysisType,jdbcType=VARCHAR},
 </if>
 <if test="southJsonType != null and southJsonType !='' ">
#{southJsonType,jdbcType=VARCHAR},
 </if>
 <if test="southJsonLevel != null and southJsonLevel !='' ">
#{southJsonLevel,jdbcType=VARCHAR},
 </if>
 <if test="southJsonName != null and southJsonName !='' ">
#{southJsonName,jdbcType=VARCHAR},
 </if>
 <if test="southJsonOrder != null and southJsonOrder !='' ">
#{southJsonOrder,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
and SOUTH_ANALYSIS_DETAIL_ID = #{southAnalysisDetailId,jdbcType=INTEGER}
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
and SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=VARCHAR}
 </if>
 <if test="southAnalysisType != null and southAnalysisType !='' ">
and SOUTH_ANALYSIS_TYPE = #{southAnalysisType,jdbcType=VARCHAR}
 </if>
 <if test="southJsonType != null and southJsonType !='' ">
and SOUTH_JSON_TYPE = #{southJsonType,jdbcType=VARCHAR}
 </if>
 <if test="southJsonLevel != null and southJsonLevel !='' ">
and SOUTH_JSON_LEVEL = #{southJsonLevel,jdbcType=VARCHAR}
 </if>
 <if test="southJsonName != null and southJsonName !='' ">
and SOUTH_JSON_NAME = #{southJsonName,jdbcType=VARCHAR}
 </if>
 <if test="southJsonOrder != null and southJsonOrder !='' ">
and SOUTH_JSON_ORDER = #{southJsonOrder,jdbcType=INTEGER}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
SOUTH_ANALYSIS_DETAIL_ID = #{southAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisType != null and southAnalysisType !='' ">
SOUTH_ANALYSIS_TYPE = #{southAnalysisType,jdbcType=VARCHAR},
 </if>
 <if test="southJsonType != null and southJsonType !='' ">
SOUTH_JSON_TYPE = #{southJsonType,jdbcType=VARCHAR},
 </if>
 <if test="southJsonLevel != null and southJsonLevel !='' ">
SOUTH_JSON_LEVEL = #{southJsonLevel,jdbcType=VARCHAR},
 </if>
 <if test="southJsonName != null and southJsonName !='' ">
SOUTH_JSON_NAME = #{southJsonName,jdbcType=VARCHAR},
 </if>
 <if test="southJsonOrder != null and southJsonOrder !='' ">
SOUTH_JSON_ORDER = #{southJsonOrder,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisDetail">
select * from biz_south_analysis_detail
 where
 STATUS_ =1
  <include refid="select"/>
   order by SOUTH_ANALYSIS_DETAIL_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisDetail" useGeneratedKeys="true" keyProperty="southAnalysisDetailId">
 insert into biz_south_analysis_detail
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisDetail">
 update biz_south_analysis_detail
<set>
<include refid="update"/>
</set>
where SOUTH_ANALYSIS_DETAIL_ID = #{southAnalysisDetailId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisDetail">
  <if test="southAnalysisDetailId != null and southAnalysisDetailId != ''">
delete from biz_south_analysis_detail where SOUTH_ANALYSIS_DETAIL_ID = #{southAnalysisDetailId}
 </if>
 </delete>
</mapper>