<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizSouthToIotAnalysisDetailMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizSouthToIotAnalysisDetail">
 <id column="SOUTH_TO_IOT_ANALYSIS_DETAIL_ID" property="southToIotAnalysisDetailId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="SOUTH_TO_IOT_ANALYSIS_MAIN_ID" property="southToIotAnalysisMainId" jdbcType="INTEGER"/> <!--南向推送中台数据解析主表ID-->
 <result column="SOUTH_TO_IOT_JSON_TYPE" property="southToIotJsonType" jdbcType="VARCHAR"/> <!--JSON类型（1：String|2：integer|3：array|4：object）-->
 <result column="SOUTH_TO_IOT_JSON_LEVEL" property="southToIotJsonLevel" jdbcType="VARCHAR"/> <!--JSON层级编码-->
 <result column="SOUTH_TO_IOT_JSON_NAME" property="southToIotJsonName" jdbcType="VARCHAR"/> <!--JSON属性名-->
 <result column="SOUTH_TO_IOT_JSON_ORDER" property="southToIotJsonOrder" jdbcType="INTEGER"/> <!--JSON排序-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="southToIotAnalysisDetailId != null and southToIotAnalysisDetailId !='' ">
SOUTH_TO_IOT_ANALYSIS_DETAIL_ID,
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
SOUTH_TO_IOT_ANALYSIS_MAIN_ID,
 </if>
 <if test="southToIotJsonType != null and southToIotJsonType !='' ">
SOUTH_TO_IOT_JSON_TYPE,
 </if>
 <if test="southToIotJsonLevel != null and southToIotJsonLevel !='' ">
SOUTH_TO_IOT_JSON_LEVEL,
 </if>
 <if test="southToIotJsonName != null and southToIotJsonName !='' ">
SOUTH_TO_IOT_JSON_NAME,
 </if>
 <if test="southToIotJsonOrder != null and southToIotJsonOrder !='' ">
SOUTH_TO_IOT_JSON_ORDER,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="southToIotAnalysisDetailId != null and southToIotAnalysisDetailId !='' ">
#{southToIotAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
#{southToIotAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="southToIotJsonType != null and southToIotJsonType !='' ">
#{southToIotJsonType,jdbcType=VARCHAR},
 </if>
 <if test="southToIotJsonLevel != null and southToIotJsonLevel !='' ">
#{southToIotJsonLevel,jdbcType=VARCHAR},
 </if>
 <if test="southToIotJsonName != null and southToIotJsonName !='' ">
#{southToIotJsonName,jdbcType=VARCHAR},
 </if>
 <if test="southToIotJsonOrder != null and southToIotJsonOrder !='' ">
#{southToIotJsonOrder,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="southToIotAnalysisDetailId != null and southToIotAnalysisDetailId !='' ">
and SOUTH_TO_IOT_ANALYSIS_DETAIL_ID = #{southToIotAnalysisDetailId,jdbcType=INTEGER}
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
and SOUTH_TO_IOT_ANALYSIS_MAIN_ID = #{southToIotAnalysisMainId,jdbcType=INTEGER}
 </if>
 <if test="southToIotJsonType != null and southToIotJsonType !='' ">
and SOUTH_TO_IOT_JSON_TYPE = #{southToIotJsonType,jdbcType=VARCHAR}
 </if>
 <if test="southToIotJsonLevel != null and southToIotJsonLevel !='' ">
and SOUTH_TO_IOT_JSON_LEVEL = #{southToIotJsonLevel,jdbcType=VARCHAR}
 </if>
 <if test="southToIotJsonName != null and southToIotJsonName !='' ">
and SOUTH_TO_IOT_JSON_NAME = #{southToIotJsonName,jdbcType=VARCHAR}
 </if>
 <if test="southToIotJsonOrder != null and southToIotJsonOrder !='' ">
and SOUTH_TO_IOT_JSON_ORDER = #{southToIotJsonOrder,jdbcType=INTEGER}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="southToIotAnalysisDetailId != null and southToIotAnalysisDetailId !='' ">
SOUTH_TO_IOT_ANALYSIS_DETAIL_ID = #{southToIotAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="southToIotAnalysisMainId != null and southToIotAnalysisMainId !='' ">
SOUTH_TO_IOT_ANALYSIS_MAIN_ID = #{southToIotAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="southToIotJsonType != null and southToIotJsonType !='' ">
SOUTH_TO_IOT_JSON_TYPE = #{southToIotJsonType,jdbcType=VARCHAR},
 </if>
 <if test="southToIotJsonLevel != null and southToIotJsonLevel !='' ">
SOUTH_TO_IOT_JSON_LEVEL = #{southToIotJsonLevel,jdbcType=VARCHAR},
 </if>
 <if test="southToIotJsonName != null and southToIotJsonName !='' ">
SOUTH_TO_IOT_JSON_NAME = #{southToIotJsonName,jdbcType=VARCHAR},
 </if>
 <if test="southToIotJsonOrder != null and southToIotJsonOrder !='' ">
SOUTH_TO_IOT_JSON_ORDER = #{southToIotJsonOrder,jdbcType=INTEGER},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizSouthToIotAnalysisDetail">
select * from biz_south_to_iot_analysis_detail
 where
 STATUS_ =1
  <include refid="select"/>
   order by SOUTH_TO_IOT_ANALYSIS_DETAIL_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizSouthToIotAnalysisDetail" useGeneratedKeys="true" keyProperty="southToIotAnalysisDetailId">
 insert into biz_south_to_iot_analysis_detail
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizSouthToIotAnalysisDetail">
 update biz_south_to_iot_analysis_detail
<set>
<include refid="update"/>
</set>
where SOUTH_TO_IOT_ANALYSIS_DETAIL_ID = #{southToIotAnalysisDetailId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizSouthToIotAnalysisDetail">
  <if test="southToIotAnalysisDetailId != null and southToIotAnalysisDetailId != ''">
delete from biz_south_to_iot_analysis_detail where SOUTH_TO_IOT_ANALYSIS_DETAIL_ID = #{southToIotAnalysisDetailId}
 </if>
 </delete>
</mapper>