<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizSouthAnalysisPropMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizSouthAnalysisProp">
 <id column="SOUTH_ANALYSIS_PROP_ID" property="southAnalysisPropId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="SOUTH_ANALYSIS_MAIN_ID" property="southAnalysisMainId" jdbcType="INTEGER"/> <!--南向解析主表ID-->
 <result column="SOUTH_ANALYSIS_DETAIL_ID" property="southAnalysisDetailId" jdbcType="INTEGER"/> <!--具体属性主键-->
 <result column="SOUTH_ANALYSIS_PROP_NAME" property="southAnalysisPropName" jdbcType="VARCHAR"/> <!--名称-->
 <result column="PROP_TYPE" property="propType" jdbcType="VARCHAR"/> <!--数据类型（1：String|2:integer）-->
 <result column="PROP_VALUE" property="propValue" jdbcType="VARCHAR"/> <!--具体值-->
 <result column="IS_SCHEDULER" property="isScheduler" jdbcType="VARCHAR"/> <!--是否定时获取 | 1 是 0 否-->
 <result column="CRONZ_" property="cronz" jdbcType="VARCHAR"/> <!--CRONZ表达式-->
 <result column="IS_OPEN" property="isOpen" jdbcType="VARCHAR"/> <!--是否启用 | 1 启用 0 停止-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
SOUTH_ANALYSIS_PROP_ID,
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
SOUTH_ANALYSIS_MAIN_ID,
 </if>
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
SOUTH_ANALYSIS_DETAIL_ID,
 </if>
 <if test="southAnalysisPropName != null and southAnalysisPropName !='' ">
SOUTH_ANALYSIS_PROP_NAME,
 </if>
 <if test="propType != null and propType !='' ">
PROP_TYPE,
 </if>
 <if test="propValue != null and propValue !='' ">
PROP_VALUE,
 </if>
 <if test="isScheduler != null and isScheduler !='' ">
IS_SCHEDULER,
 </if>
 <if test="cronz != null and cronz !='' ">
CRONZ_,
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
#{southAnalysisPropId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
#{southAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
#{southAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisPropName != null and southAnalysisPropName !='' ">
#{southAnalysisPropName,jdbcType=VARCHAR},
 </if>
 <if test="propType != null and propType !='' ">
#{propType,jdbcType=VARCHAR},
 </if>
 <if test="propValue != null and propValue !='' ">
#{propValue,jdbcType=VARCHAR},
 </if>
 <if test="isScheduler != null and isScheduler !='' ">
#{isScheduler,jdbcType=VARCHAR},
 </if>
 <if test="cronz != null and cronz !='' ">
#{cronz,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
#{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
and SOUTH_ANALYSIS_PROP_ID = #{southAnalysisPropId,jdbcType=INTEGER}
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
and SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=INTEGER}
 </if>
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
and SOUTH_ANALYSIS_DETAIL_ID = #{southAnalysisDetailId,jdbcType=INTEGER}
 </if>
 <if test="southAnalysisPropName != null and southAnalysisPropName !='' ">
and SOUTH_ANALYSIS_PROP_NAME = #{southAnalysisPropName,jdbcType=VARCHAR}
 </if>
 <if test="propType != null and propType !='' ">
and PROP_TYPE = #{propType,jdbcType=VARCHAR}
 </if>
 <if test="propValue != null and propValue !='' ">
and PROP_VALUE = #{propValue,jdbcType=VARCHAR}
 </if>
 <if test="isScheduler != null and isScheduler !='' ">
and IS_SCHEDULER = #{isScheduler,jdbcType=VARCHAR}
 </if>
 <if test="cronz != null and cronz !='' ">
and CRONZ_ = #{cronz,jdbcType=VARCHAR}
 </if>
 <if test="isOpen != null and isOpen !='' ">
and IS_OPEN = #{isOpen,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="southAnalysisPropId != null and southAnalysisPropId !='' ">
SOUTH_ANALYSIS_PROP_ID = #{southAnalysisPropId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisDetailId != null and southAnalysisDetailId !='' ">
SOUTH_ANALYSIS_DETAIL_ID = #{southAnalysisDetailId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisPropName != null and southAnalysisPropName !='' ">
SOUTH_ANALYSIS_PROP_NAME = #{southAnalysisPropName,jdbcType=VARCHAR},
 </if>
 <if test="propType != null and propType !='' ">
PROP_TYPE = #{propType,jdbcType=VARCHAR},
 </if>
 <if test="propValue != null and propValue !='' ">
PROP_VALUE = #{propValue,jdbcType=VARCHAR},
 </if>
 <if test="isScheduler != null and isScheduler !='' ">
IS_SCHEDULER = #{isScheduler,jdbcType=VARCHAR},
 </if>
 <if test="cronz != null and cronz !='' ">
CRONZ_ = #{cronz,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN = #{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisProp">
select * from biz_south_analysis_prop
 where
 STATUS_ =1
  <include refid="select"/>
   order by SOUTH_ANALYSIS_PROP_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisProp" useGeneratedKeys="true" keyProperty="southAnalysisPropId">
 insert into biz_south_analysis_prop
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisProp">
 update biz_south_analysis_prop
<set>
<include refid="update"/>
</set>
where SOUTH_ANALYSIS_PROP_ID = #{southAnalysisPropId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisProp">
  <if test="southAnalysisPropId != null and southAnalysisPropId != ''">
delete from biz_south_analysis_prop where SOUTH_ANALYSIS_PROP_ID = #{southAnalysisPropId}
 </if>
 </delete>
</mapper>