<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizSouthAnalysisMainMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizSouthAnalysisMain">
 <id column="SOUTH_ANALYSIS_MAIN_ID" property="southAnalysisMainId" jdbcType="INTEGER"/> <!--主键ID-->
 <result column="SOUTH_ANALYSIS_MAIN_CODE" property="southAnalysisMainCode" jdbcType="VARCHAR"/> <!--南向解析编号-->
 <result column="SOUTH_ANALYSIS_MAIN_NAME" property="southAnalysisMainName" jdbcType="VARCHAR"/> <!--南向解析名称-->
 <result column="SOUTH_ANALYSIS_MAIN_TYPE" property="southAnalysisMainType" jdbcType="VARCHAR"/> <!--解析类型（1：http接口2：MQTT主题|3：tcp协议）-->
 <result column="SOUTH_MESSAGE_ID" property="southMessageId" jdbcType="INTEGER"/> <!--南向http接口ID/MQTT 主题ID/TCP 协议id-->
 <result column="SOUTH_MESSAGE_CODE" property="southMessageCode" jdbcType="VARCHAR"/> <!--南向http接口CODE/MQTT 主题CODE/TCP 协议 CODE-->
 <result column="IS_OPEN" property="isOpen" jdbcType="VARCHAR"/> <!--是否启用 | 1 启用 0 停止-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
SOUTH_ANALYSIS_MAIN_ID,
 </if>
 <if test="southAnalysisMainCode != null and southAnalysisMainCode !='' ">
SOUTH_ANALYSIS_MAIN_CODE,
 </if>
 <if test="southAnalysisMainName != null and southAnalysisMainName !='' ">
SOUTH_ANALYSIS_MAIN_NAME,
 </if>
 <if test="southAnalysisMainType != null and southAnalysisMainType !='' ">
SOUTH_ANALYSIS_MAIN_TYPE,
 </if>
 <if test="southMessageId != null and southMessageId !='' ">
SOUTH_MESSAGE_ID,
 </if>
 <if test="southMessageCode != null and southMessageCode !='' ">
SOUTH_MESSAGE_CODE,
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
#{southAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisMainCode != null and southAnalysisMainCode !='' ">
#{southAnalysisMainCode,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisMainName != null and southAnalysisMainName !='' ">
#{southAnalysisMainName,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisMainType != null and southAnalysisMainType !='' ">
#{southAnalysisMainType,jdbcType=VARCHAR},
 </if>
 <if test="southMessageId != null and southMessageId !='' ">
#{southMessageId,jdbcType=INTEGER},
 </if>
 <if test="southMessageCode != null and southMessageCode !='' ">
#{southMessageCode,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
#{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
and SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=INTEGER}
 </if>
 <if test="southAnalysisMainCode != null and southAnalysisMainCode !='' ">
and SOUTH_ANALYSIS_MAIN_CODE = #{southAnalysisMainCode,jdbcType=VARCHAR}
 </if>
 <if test="southAnalysisMainName != null and southAnalysisMainName !='' ">
and SOUTH_ANALYSIS_MAIN_NAME = #{southAnalysisMainName,jdbcType=VARCHAR}
 </if>
 <if test="southAnalysisMainType != null and southAnalysisMainType !='' ">
and SOUTH_ANALYSIS_MAIN_TYPE = #{southAnalysisMainType,jdbcType=VARCHAR}
 </if>
 <if test="southMessageId != null and southMessageId !='' ">
and SOUTH_MESSAGE_ID = #{southMessageId,jdbcType=INTEGER}
 </if>
 <if test="southMessageCode != null and southMessageCode !='' ">
and SOUTH_MESSAGE_CODE = #{southMessageCode,jdbcType=VARCHAR}
 </if>
 <if test="isOpen != null and isOpen !='' ">
and IS_OPEN = #{isOpen,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="southAnalysisMainId != null and southAnalysisMainId !='' ">
SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=INTEGER},
 </if>
 <if test="southAnalysisMainCode != null and southAnalysisMainCode !='' ">
SOUTH_ANALYSIS_MAIN_CODE = #{southAnalysisMainCode,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisMainName != null and southAnalysisMainName !='' ">
SOUTH_ANALYSIS_MAIN_NAME = #{southAnalysisMainName,jdbcType=VARCHAR},
 </if>
 <if test="southAnalysisMainType != null and southAnalysisMainType !='' ">
SOUTH_ANALYSIS_MAIN_TYPE = #{southAnalysisMainType,jdbcType=VARCHAR},
 </if>
 <if test="southMessageId != null and southMessageId !='' ">
SOUTH_MESSAGE_ID = #{southMessageId,jdbcType=INTEGER},
 </if>
 <if test="southMessageCode != null and southMessageCode !='' ">
SOUTH_MESSAGE_CODE = #{southMessageCode,jdbcType=VARCHAR},
 </if>
 <if test="isOpen != null and isOpen !='' ">
IS_OPEN = #{isOpen,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisMain">
select * from biz_south_analysis_main
 where
 STATUS_ =1
  <include refid="select"/>
   order by SOUTH_ANALYSIS_MAIN_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisMain" useGeneratedKeys="true" keyProperty="southAnalysisMainId">
 insert into biz_south_analysis_main
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisMain">
 update biz_south_analysis_main
<set>
<include refid="update"/>
</set>
where SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizSouthAnalysisMain">
  <if test="southAnalysisMainId != null and southAnalysisMainId != ''">
delete from biz_south_analysis_main where SOUTH_ANALYSIS_MAIN_ID = #{southAnalysisMainId}
 </if>
 </delete>
</mapper>