<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.BizThirdPlaformMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.BizThirdPlaform">
 <id column="THIRD_PLATFORM_ID" property="thirdPlatformId" jdbcType="INTEGER"/> <!--第三方平台ID-->
 <result column="THIRD_PLATFORM_CODE" property="thirdPlatformCode" jdbcType="VARCHAR"/> <!--第三方平台CODE-->
 <result column="THIRD_PLATFORM_NAME" property="thirdPlatformName" jdbcType="VARCHAR"/> <!--第三方平台名称-->
 <result column="THIRD_PLATFORM_INFO" property="thirdPlatformInfo" jdbcType="VARCHAR"/> <!--平台介绍-->
 <result column="THIRD_PLATFORM_FACTORY_ID" property="thirdPlatformFactoryId" jdbcType="INTEGER"/> <!--平台厂商-->
 <result column="DEVICE_DESC" property="deviceDesc" jdbcType="VARCHAR"/> <!--平台对接设备描述-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员ID-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员ID-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="thirdPlatformId != null and thirdPlatformId !='' ">
THIRD_PLATFORM_ID,
 </if>
 <if test="thirdPlatformCode != null and thirdPlatformCode !='' ">
THIRD_PLATFORM_CODE,
 </if>
 <if test="thirdPlatformName != null and thirdPlatformName !='' ">
THIRD_PLATFORM_NAME,
 </if>
 <if test="thirdPlatformInfo != null and thirdPlatformInfo !='' ">
THIRD_PLATFORM_INFO,
 </if>
 <if test="thirdPlatformFactoryId != null and thirdPlatformFactoryId !='' ">
THIRD_PLATFORM_FACTORY_ID,
 </if>
 <if test="deviceDesc != null and deviceDesc !='' ">
DEVICE_DESC,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="thirdPlatformId != null and thirdPlatformId !='' ">
#{thirdPlatformId,jdbcType=INTEGER},
 </if>
 <if test="thirdPlatformCode != null and thirdPlatformCode !='' ">
#{thirdPlatformCode,jdbcType=VARCHAR},
 </if>
 <if test="thirdPlatformName != null and thirdPlatformName !='' ">
#{thirdPlatformName,jdbcType=VARCHAR},
 </if>
 <if test="thirdPlatformInfo != null and thirdPlatformInfo !='' ">
#{thirdPlatformInfo,jdbcType=VARCHAR},
 </if>
 <if test="thirdPlatformFactoryId != null and thirdPlatformFactoryId !='' ">
#{thirdPlatformFactoryId,jdbcType=INTEGER},
 </if>
 <if test="deviceDesc != null and deviceDesc !='' ">
#{deviceDesc,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="thirdPlatformId != null and thirdPlatformId !='' ">
and THIRD_PLATFORM_ID = #{thirdPlatformId,jdbcType=INTEGER}
 </if>
 <if test="thirdPlatformCode != null and thirdPlatformCode !='' ">
and THIRD_PLATFORM_CODE = #{thirdPlatformCode,jdbcType=VARCHAR}
 </if>
 <if test="thirdPlatformName != null and thirdPlatformName !='' ">
and THIRD_PLATFORM_NAME = #{thirdPlatformName,jdbcType=VARCHAR}
 </if>
 <if test="thirdPlatformInfo != null and thirdPlatformInfo !='' ">
and THIRD_PLATFORM_INFO = #{thirdPlatformInfo,jdbcType=VARCHAR}
 </if>
 <if test="thirdPlatformFactoryId != null and thirdPlatformFactoryId !='' ">
and THIRD_PLATFORM_FACTORY_ID = #{thirdPlatformFactoryId,jdbcType=INTEGER}
 </if>
 <if test="deviceDesc != null and deviceDesc !='' ">
and DEVICE_DESC = #{deviceDesc,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="thirdPlatformId != null and thirdPlatformId !='' ">
THIRD_PLATFORM_ID = #{thirdPlatformId,jdbcType=INTEGER},
 </if>
 <if test="thirdPlatformCode != null and thirdPlatformCode !='' ">
THIRD_PLATFORM_CODE = #{thirdPlatformCode,jdbcType=VARCHAR},
 </if>
 <if test="thirdPlatformName != null and thirdPlatformName !='' ">
THIRD_PLATFORM_NAME = #{thirdPlatformName,jdbcType=VARCHAR},
 </if>
 <if test="thirdPlatformInfo != null and thirdPlatformInfo !='' ">
THIRD_PLATFORM_INFO = #{thirdPlatformInfo,jdbcType=VARCHAR},
 </if>
 <if test="thirdPlatformFactoryId != null and thirdPlatformFactoryId !='' ">
THIRD_PLATFORM_FACTORY_ID = #{thirdPlatformFactoryId,jdbcType=INTEGER},
 </if>
 <if test="deviceDesc != null and deviceDesc !='' ">
DEVICE_DESC = #{deviceDesc,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.BizThirdPlaform">
select * from biz_third_plaform
 where
 STATUS_ =1
  <include refid="select"/>
   order by THIRD_PLATFORM_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.BizThirdPlaform" useGeneratedKeys="true" keyProperty="thirdPlatformId">
 insert into biz_third_plaform
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.BizThirdPlaform">
 update biz_third_plaform
<set>
<include refid="update"/>
</set>
where THIRD_PLATFORM_ID = #{thirdPlatformId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.BizThirdPlaform">
  <if test="thirdPlatformId != null and thirdPlatformId != ''">
delete from biz_third_plaform where THIRD_PLATFORM_ID = #{thirdPlatformId}
 </if>
 </delete>
</mapper>