<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.SysBizApiMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.SysBizApi">
 <id column="API_ID" property="apiId" jdbcType="INTEGER"/> <!--接口ID-->
 <result column="API_CODE" property="apiCode" jdbcType="VARCHAR"/> <!--编号-->
 <result column="API_NAME" property="apiName" jdbcType="VARCHAR"/> <!--名称-->
 <result column="API_MENU_TYPE" property="apiMenuType" jdbcType="VARCHAR"/> <!--菜单类型(与数据字典API_MENU_TYPE关联)-->
 <result column="API_URL" property="apiUrl" jdbcType="VARCHAR"/> <!--URL地址-->
 <result column="INDEX_" property="index" jdbcType="INTEGER"/> <!--排序-->
 <result column="API_LEVEL_CODE" property="apiLevelCode" jdbcType="VARCHAR"/> <!--等级编码-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="apiId != null and apiId !='' ">
API_ID,
 </if>
 <if test="apiCode != null and apiCode !='' ">
API_CODE,
 </if>
 <if test="apiName != null and apiName !='' ">
API_NAME,
 </if>
 <if test="apiMenuType != null and apiMenuType !='' ">
API_MENU_TYPE,
 </if>
 <if test="apiUrl != null and apiUrl !='' ">
API_URL,
 </if>
 <if test="index != null and index !='' ">
INDEX_,
 </if>
 <if test="apiLevelCode != null and apiLevelCode !='' ">
API_LEVEL_CODE,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="apiId != null and apiId !='' ">
#{apiId,jdbcType=INTEGER},
 </if>
 <if test="apiCode != null and apiCode !='' ">
#{apiCode,jdbcType=VARCHAR},
 </if>
 <if test="apiName != null and apiName !='' ">
#{apiName,jdbcType=VARCHAR},
 </if>
 <if test="apiMenuType != null and apiMenuType !='' ">
#{apiMenuType,jdbcType=VARCHAR},
 </if>
 <if test="apiUrl != null and apiUrl !='' ">
#{apiUrl,jdbcType=VARCHAR},
 </if>
 <if test="index != null and index !='' ">
#{index,jdbcType=INTEGER},
 </if>
 <if test="apiLevelCode != null and apiLevelCode !='' ">
#{apiLevelCode,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="apiId != null and apiId !='' ">
and API_ID = #{apiId,jdbcType=INTEGER}
 </if>
 <if test="apiCode != null and apiCode !='' ">
and API_CODE = #{apiCode,jdbcType=VARCHAR}
 </if>
 <if test="apiName != null and apiName !='' ">
and API_NAME = #{apiName,jdbcType=VARCHAR}
 </if>
 <if test="apiMenuType != null and apiMenuType !='' ">
and API_MENU_TYPE = #{apiMenuType,jdbcType=VARCHAR}
 </if>
 <if test="apiUrl != null and apiUrl !='' ">
and API_URL = #{apiUrl,jdbcType=VARCHAR}
 </if>
 <if test="index != null and index !='' ">
and INDEX_ = #{index,jdbcType=INTEGER}
 </if>
 <if test="apiLevelCode != null and apiLevelCode !='' ">
and API_LEVEL_CODE = #{apiLevelCode,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="apiId != null and apiId !='' ">
API_ID = #{apiId,jdbcType=INTEGER},
 </if>
 <if test="apiCode != null and apiCode !='' ">
API_CODE = #{apiCode,jdbcType=VARCHAR},
 </if>
 <if test="apiName != null and apiName !='' ">
API_NAME = #{apiName,jdbcType=VARCHAR},
 </if>
 <if test="apiMenuType != null and apiMenuType !='' ">
API_MENU_TYPE = #{apiMenuType,jdbcType=VARCHAR},
 </if>
 <if test="apiUrl != null and apiUrl !='' ">
API_URL = #{apiUrl,jdbcType=VARCHAR},
 </if>
 <if test="index != null and index !='' ">
INDEX_ = #{index,jdbcType=INTEGER},
 </if>
 <if test="apiLevelCode != null and apiLevelCode !='' ">
API_LEVEL_CODE = #{apiLevelCode,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.SysBizApi">
select * from sys_biz_api
 where
 STATUS_ =1
  <include refid="select"/>
   order by API_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.SysBizApi" useGeneratedKeys="true" keyProperty="apiId">
 insert into sys_biz_api
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.SysBizApi">
 update sys_biz_api
<set>
<include refid="update"/>
</set>
where API_ID = #{apiId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.SysBizApi">
  <if test="apiId != null and apiId != ''">
delete from sys_biz_api where API_ID = #{apiId}
 </if>
 </delete>
</mapper>