<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.SysBizAreaMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.SysBizArea">
 <id column="AREA_ID" property="areaId" jdbcType="INTEGER"/> <!--区域ID-->
 <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR"/> <!--区域名称-->
 <result column="AREA_DESC" property="areaDesc" jdbcType="VARCHAR"/> <!--区域描述-->
 <result column="INDEX_" property="index" jdbcType="INTEGER"/> <!--区域排序-->
 <result column="AREA_LEVEL_CODE" property="areaLevelCode" jdbcType="VARCHAR"/> <!--等级编码-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--状态-->
</resultMap>
 <sql id="filed">
 <if test="areaId != null and areaId !='' ">
AREA_ID,
 </if>
 <if test="areaName != null and areaName !='' ">
AREA_NAME,
 </if>
 <if test="areaDesc != null and areaDesc !='' ">
AREA_DESC,
 </if>
 <if test="index != null and index !='' ">
INDEX_,
 </if>
 <if test="areaLevelCode != null and areaLevelCode !='' ">
AREA_LEVEL_CODE,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
</sql>
 <sql id="values">
 <if test="areaId != null and areaId !='' ">
#{areaId,jdbcType=INTEGER},
 </if>
 <if test="areaName != null and areaName !='' ">
#{areaName,jdbcType=VARCHAR},
 </if>
 <if test="areaDesc != null and areaDesc !='' ">
#{areaDesc,jdbcType=VARCHAR},
 </if>
 <if test="index != null and index !='' ">
#{index,jdbcType=INTEGER},
 </if>
 <if test="areaLevelCode != null and areaLevelCode !='' ">
#{areaLevelCode,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="areaId != null and areaId !='' ">
and AREA_ID = #{areaId,jdbcType=INTEGER}
 </if>
 <if test="areaName != null and areaName !='' ">
and AREA_NAME = #{areaName,jdbcType=VARCHAR}
 </if>
 <if test="areaDesc != null and areaDesc !='' ">
and AREA_DESC = #{areaDesc,jdbcType=VARCHAR}
 </if>
 <if test="index != null and index !='' ">
and INDEX_ = #{index,jdbcType=INTEGER}
 </if>
 <if test="areaLevelCode != null and areaLevelCode !='' ">
and AREA_LEVEL_CODE = #{areaLevelCode,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="areaId != null and areaId !='' ">
AREA_ID = #{areaId,jdbcType=INTEGER},
 </if>
 <if test="areaName != null and areaName !='' ">
AREA_NAME = #{areaName,jdbcType=VARCHAR},
 </if>
 <if test="areaDesc != null and areaDesc !='' ">
AREA_DESC = #{areaDesc,jdbcType=VARCHAR},
 </if>
 <if test="index != null and index !='' ">
INDEX_ = #{index,jdbcType=INTEGER},
 </if>
 <if test="areaLevelCode != null and areaLevelCode !='' ">
AREA_LEVEL_CODE = #{areaLevelCode,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.SysBizArea">
select * from sys_biz_area
 where
 STATUS_ =1
  <include refid="select"/>
   order by AREA_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.SysBizArea" useGeneratedKeys="true" keyProperty="areaId">
 insert into sys_biz_area
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.SysBizArea">
 update sys_biz_area
<set>
<include refid="update"/>
</set>
where AREA_ID = #{areaId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.SysBizArea">
  <if test="areaId != null and areaId != ''">
delete from sys_biz_area where AREA_ID = #{areaId}
 </if>
 </delete>
</mapper>