<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.SysFileMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.SysFile">
 <id column="SYS_FILE_ID" property="sysFileId" jdbcType="INTEGER"/> <!--文件ID-->
 <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR"/> <!--文件名称-->
 <result column="FILE_SIZE" property="fileSize" jdbcType="INTEGER"/> <!--文件大小-->
 <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR"/> <!--文件存放路径-->
 <result column="CREATE_USER_ID" property="createUserId" jdbcType="INTEGER"/> <!--创建人员-->
 <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/> <!--创建时间-->
 <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="INTEGER"/> <!--修改人员-->
 <result column="MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR"/> <!--修改时间-->
 <result column="STATUS_" property="status" jdbcType="VARCHAR"/> <!--记录状态-->
 <result column="REMARK_" property="remark" jdbcType="VARCHAR"/> <!--备注-->
</resultMap>
 <sql id="filed">
 <if test="sysFileId != null and sysFileId !='' ">
SYS_FILE_ID,
 </if>
 <if test="fileName != null and fileName !='' ">
FILE_NAME,
 </if>
 <if test="fileSize != null and fileSize !='' ">
FILE_SIZE,
 </if>
 <if test="filePath != null and filePath !='' ">
FILE_PATH,
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID,
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE,
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID,
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE,
 </if>
 <if test="status != null and status !='' ">
STATUS_,
 </if>
 <if test="remark != null and remark !='' ">
REMARK_,
 </if>
</sql>
 <sql id="values">
 <if test="sysFileId != null and sysFileId !='' ">
#{sysFileId,jdbcType=INTEGER},
 </if>
 <if test="fileName != null and fileName !='' ">
#{fileName,jdbcType=VARCHAR},
 </if>
 <if test="fileSize != null and fileSize !='' ">
#{fileSize,jdbcType=INTEGER},
 </if>
 <if test="filePath != null and filePath !='' ">
#{filePath,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
#{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
#{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
#{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
#{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
#{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
#{remark,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="sysFileId != null and sysFileId !='' ">
and SYS_FILE_ID = #{sysFileId,jdbcType=INTEGER}
 </if>
 <if test="fileName != null and fileName !='' ">
and FILE_NAME = #{fileName,jdbcType=VARCHAR}
 </if>
 <if test="fileSize != null and fileSize !='' ">
and FILE_SIZE = #{fileSize,jdbcType=INTEGER}
 </if>
 <if test="filePath != null and filePath !='' ">
and FILE_PATH = #{filePath,jdbcType=VARCHAR}
 </if>
 <if test="createUserId != null and createUserId !='' ">
and CREATE_USER_ID = #{createUserId,jdbcType=INTEGER}
 </if>
 <if test="createDate != null and createDate !='' ">
and CREATE_DATE = #{createDate,jdbcType=VARCHAR}
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
and MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER}
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
and MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR}
 </if>
 <if test="status != null and status !='' ">
and STATUS_ = #{status,jdbcType=VARCHAR}
 </if>
 <if test="remark != null and remark !='' ">
and REMARK_ = #{remark,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="sysFileId != null and sysFileId !='' ">
SYS_FILE_ID = #{sysFileId,jdbcType=INTEGER},
 </if>
 <if test="fileName != null and fileName !='' ">
FILE_NAME = #{fileName,jdbcType=VARCHAR},
 </if>
 <if test="fileSize != null and fileSize !='' ">
FILE_SIZE = #{fileSize,jdbcType=INTEGER},
 </if>
 <if test="filePath != null and filePath !='' ">
FILE_PATH = #{filePath,jdbcType=VARCHAR},
 </if>
 <if test="createUserId != null and createUserId !='' ">
CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
 </if>
 <if test="createDate != null and createDate !='' ">
CREATE_DATE = #{createDate,jdbcType=VARCHAR},
 </if>
 <if test="modifyUserId != null and modifyUserId !='' ">
MODIFY_USER_ID = #{modifyUserId,jdbcType=INTEGER},
 </if>
 <if test="modifyDate != null and modifyDate !='' ">
MODIFY_DATE = #{modifyDate,jdbcType=VARCHAR},
 </if>
 <if test="status != null and status !='' ">
STATUS_ = #{status,jdbcType=VARCHAR},
 </if>
 <if test="remark != null and remark !='' ">
REMARK_ = #{remark,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.SysFile">
select * from sys_file
 where
 STATUS_ =1
  <include refid="select"/>
   order by SYS_FILE_ID </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.SysFile" useGeneratedKeys="true" keyProperty="sysFileId">
 insert into sys_file
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.SysFile">
 update sys_file
<set>
<include refid="update"/>
</set>
where SYS_FILE_ID = #{sysFileId,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.SysFile">
  <if test="sysFileId != null and sysFileId != ''">
delete from sys_file where SYS_FILE_ID = #{sysFileId}
 </if>
 </delete>
</mapper>