<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrc.iot.broker.dao.biz.XxlJobRegistryMapper">
<resultMap id="baseDataResultMap" type="com.zjrc.iot.broker.model.biz.XxlJobRegistry">
 <id column="id" property="id" jdbcType="INTEGER"/> <!---->
 <result column="registry_group" property="registryGroup" jdbcType="VARCHAR"/> <!---->
 <result column="registry_key" property="registryKey" jdbcType="VARCHAR"/> <!---->
 <result column="registry_value" property="registryValue" jdbcType="VARCHAR"/> <!---->
 <result column="update_time" property="updateTime" jdbcType="VARCHAR"/> <!---->
</resultMap>
 <sql id="filed">
 <if test="id != null and id !='' ">
id,
 </if>
 <if test="registryGroup != null and registryGroup !='' ">
registry_group,
 </if>
 <if test="registryKey != null and registryKey !='' ">
registry_key,
 </if>
 <if test="registryValue != null and registryValue !='' ">
registry_value,
 </if>
 <if test="updateTime != null and updateTime !='' ">
update_time,
 </if>
</sql>
 <sql id="values">
 <if test="id != null and id !='' ">
#{id,jdbcType=INTEGER},
 </if>
 <if test="registryGroup != null and registryGroup !='' ">
#{registryGroup,jdbcType=VARCHAR},
 </if>
 <if test="registryKey != null and registryKey !='' ">
#{registryKey,jdbcType=VARCHAR},
 </if>
 <if test="registryValue != null and registryValue !='' ">
#{registryValue,jdbcType=VARCHAR},
 </if>
 <if test="updateTime != null and updateTime !='' ">
#{updateTime,jdbcType=VARCHAR},
 </if>
</sql>
 <sql id="select">
 <if test="id != null and id !='' ">
and id = #{id,jdbcType=INTEGER}
 </if>
 <if test="registryGroup != null and registryGroup !='' ">
and registry_group = #{registryGroup,jdbcType=VARCHAR}
 </if>
 <if test="registryKey != null and registryKey !='' ">
and registry_key = #{registryKey,jdbcType=VARCHAR}
 </if>
 <if test="registryValue != null and registryValue !='' ">
and registry_value = #{registryValue,jdbcType=VARCHAR}
 </if>
 <if test="updateTime != null and updateTime !='' ">
and update_time = #{updateTime,jdbcType=VARCHAR}
 </if>
</sql>
 <sql id="update">
 <if test="id != null and id !='' ">
id = #{id,jdbcType=INTEGER},
 </if>
 <if test="registryGroup != null and registryGroup !='' ">
registry_group = #{registryGroup,jdbcType=VARCHAR},
 </if>
 <if test="registryKey != null and registryKey !='' ">
registry_key = #{registryKey,jdbcType=VARCHAR},
 </if>
 <if test="registryValue != null and registryValue !='' ">
registry_value = #{registryValue,jdbcType=VARCHAR},
 </if>
 <if test="updateTime != null and updateTime !='' ">
update_time = #{updateTime,jdbcType=VARCHAR},
 </if>
</sql>
<select id="page" resultMap="baseDataResultMap" parameterType="com.zjrc.iot.broker.model.biz.XxlJobRegistry">
select * from xxl_job_registry
 where
 STATUS_ =1
  <include refid="select"/>
   order by id </select>
<insert id="insert" parameterType="com.zjrc.iot.broker.model.biz.XxlJobRegistry" useGeneratedKeys="true" keyProperty="id">
 insert into xxl_job_registry
  <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="filed"/>
		        </trim>
 values
  <trim prefix="(" suffix=")" suffixOverrides=",">
		            <include refid="values"/>
		        </trim>
 </insert>
<update id="update" parameterType="com.zjrc.iot.broker.model.biz.XxlJobRegistry">
 update xxl_job_registry
<set>
<include refid="update"/>
</set>
where id = #{id,jdbcType=INTEGER} AND STATUS_ =1
</update>
 <delete id="delete" parameterType="com.zjrc.iot.broker.model.biz.XxlJobRegistry">
  <if test="id != null and id != ''">
delete from xxl_job_registry where id = #{id}
 </if>
 </delete>
</mapper>